*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f363e;
}

.container{
    position: relative;
    background-color: #2f363e;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75) ,
    10px 10px 70px rgba(0,0,0,0.25), 
    inset 5px 5px 10px rgba(0,0,0,0.5), 
    inset 5px 5px 20px rgba(0,0,0,0.2), 
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    height: 450px;
    width: 450px;
    background-color: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 50px rgba(0,0,0,0.25), 
    inset 5px 5px 10px rgba(0,0,0,0.5), 
    inset 5px 5px 20px rgba(0,0,0,0.2), 
    inset -5px -5px 15px rgba(0,0,0,0.75);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.clock::before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1000;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));

}

.clock span b{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display:  inline-block;
    transform: rotate(calc(-30deg * var(--i)));

}

.circle{
    position: absolute;
    height: 300px;
    width: 300px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle2{
    height: 240px;
    width: 240px;
    z-index: 9;
}

.circle3{
    height: 180px;
    width: 180px;
    z-index: 8;
}

.circle::before{
    content: "";
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}